<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

  <title>Corner Food Market - PAGE NOT FOUND</title>

  <link href="images/favicon.ico" rel="shortcut icon" type="image/x-icon" />
  <link th:href="@{css/bootstrap.css}" rel="stylesheet" type="text/css" />\
  <link rel="stylesheet" href="fonts/material-icon/css/round.css" />

  <!-- custom style -->
  <link th:href="@{css/v1-1/ui.css}" rel="stylesheet" type="text/css" />
  <link th:href="@{css/v1-1/responsive.css}" rel="stylesheet" />
</head>

<header class="section-header">

  <section class="header-main border-bottom">
    <div class="container" id="upper-header">
      <div class="row align-items-center">
        <div class="col-lg-3 col-4" id="div-logo">
          <a th:href="@{/}" class="brand-wrap">
            <img class="img-fluid" src="images/logo.png">
          </a> <!-- brand-wrap.// -->
        </div>
        <div class="col-lg-6 col-sm-12" id="div-search-bar">
          <form action="#" class="search">
            <div class="input-group w-100">
              <input type="text" class="form-control" placeholder="Search item...">
              <div class="input-group-append">
                <button class="btn btn-primary" type="submit">
                  <i class="fa fa-search"></i> Search
                </button>
              </div>
            </div>
          </form> <!-- search-wrap .end// -->
        </div> <!-- col.// -->
        <div class="col-lg-3 col-sm-6 col-12">
          <div class="widgets-wrap float-md-right">
            <div class="widget-header icontext">
              <div class="text">
        
              </div>
            </div>

          </div> <!-- widgets-wrap.// -->
        </div> <!-- col.// -->
      </div> <!-- row.// -->
    </div> <!-- container.// -->
  </section> <!-- header-main .// -->
</header> <!-- section-header.// -->

<section class="content-main">
  <div class="row" style="margin-top: 60px">
    <div class="col-sm-12">
      <div class="w-50 mx-auto text-center">
        <img src="images/not-found.png" width="350" alt="Page Not Found" />
        <h3 class="mt-4">Oops! Page not found</h3>
        <p>
          It's looking like you may have taken a wrong turn. Don't worry... it happens to the
          best of us. Here's a little tip that might help you get back on track.
        </p>
        <a th:href="@{/}" class="btn btn-primary mt-4">Back to Home</a>
      </div>
    </div>
  </div>
</section>
<!-- content-main end// -->
<script>
  if (localStorage.getItem('darkmode')) {
    var body_el = document.body;
    body_el.className += 'dark';
  }
</script>

<script src="js/v1-1/jquery-3.5.0.min.js?v=1.1"></script>
<script src="js/v1-1/bootstrap.bundle.min.js?v=1.1"></script>

<!-- Custom JS -->
<script src="js/v1-1/script.js?v=1.1"></script>
</body>

</html>